<%- include('partials/header'); -%>

    <div>
        <h3>Instrctions for software development intern</h3>
        <ol>
            <li>This internship is self-paced with a mentor; in this intern there will be course videos and materials
                that will be released every week and the project will also be released related to it at the end of the
                week. All the instructions will be given for the project to work through.</li>

            <li>All the instructions are given clearly and there will be no possibility to resubmit the project multiple
                times.</li>
            <li>Once the project is submitted there will no chancce to make any changes so check all the instructions
                before submitting.</li>
            <li>Certificates will be provided by the end of the course if all the projects are submitted.</li>
            <li>Projects should be unique and not copied from any source and no group projects are allowed.
                If found copied your project will be rejected, no excuse will be entertained.</li>

            <li>Projects approval lies in the hand of the authority and their decision will be final.</li>
            <li>LOR is based on project quality which remains in the hands of TAs/ checkers and their desition will be
                final.</li>
            <li>All lessons should be marked complete.</li>
        </ol>

    </div>

    <div class="coursesweeks">
        <div>WEEK 1</div>
        <iframe width="400" height="300" src="https://www.youtube.com/embed/O5nskjZ_GoI" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        <iframe width="400" height="300" src="https://www.youtube.com/embed/M5BZou6C01w" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        <iframe width="400" height="300" src="https://www.youtube.com/embed/pQocN_c2uLI" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        <div>WEEK 2</div>
        <iframe width="400" height="300" src="https://www.youtube.com/embed/4NfFFsQC77M" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        <iframe width="400" height="300" src="https://www.youtube.com/embed/9thHVXFltAA" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        <iframe width="400" height="300" src="https://www.youtube.com/embed/pQN-pnXPaVg" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        <div>WEEK 3</div>
        <iframe width="400" height="300" src="https://www.youtube.com/embed/RSIclWvNTdQ" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        <iframe width="400" height="300" src="https://www.youtube.com/embed/Y8zMYaD1bz0" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        <iframe width="400" height="300" src="https://www.youtube.com/embed/x7tLPhnA06w" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        <div>WEEK 4</div>
        <iframe width="400" height="300" src="https://www.youtube.com/embed/W6NZfCO5SIk" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        <iframe width="400" height="300" src="https://www.youtube.com/embed/PkZNo7MFNFg" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        <iframe width="400" height="300" src="https://www.youtube.com/embed/0ik6X4DJKCc" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </div>
    <br>
    <br>
    <div>
        <div>PROJECT 1</div>
        <br>
        <p>
        <div>There is no better way to learn than by actually building projects. But we don’t always have the ideas to
            build upon, thus the second best thing is CLONING.</div>

        <div> But why Frontend cloning is important?</div>

        <div> In real-life scenario, the website / web-app features are described by a Product Manager to a UI-UX
            designer
            who makes a mockup/prototype from the requirements.</div>

        <div> Once the mockup is approved, it becomes the duty of a Frontend developer to translate that mockup
            accurately
            into frontend code.</div>

        <div> Thus we will be cloning a website for your Mini Project 01</div>

        <div>PROJECT GUIDELINES</div>

        <li>Click the “Requirement Gathering” button to understand more about your project</li>
        <li>Click the “Asset Platform” button to find a relevant video asset for your project</li>
        <li> Click “Deployment” button to learn how to host your project on the internet</li>
        <li>Submit the “link” to your hosted project using the submit project button.</li>
        <br>
        <div>In order to deploy through vercel do the following steps:</div>

        <li>Sign Up on https://vercel.com/</li>
        <li> Link your github profile with it</li>
        <li> Click on New project button and then choose the repository you wish to deploy</li>
        <li>It might ask you to collaborate in Team -> Skip it</li>
        <li> Leave the settings as default and click on deploy.</li>

        </p>
        <br>
        <br>


        <div>
            PROJECT 2

        </div>
        <br>
        <p>
        <div> To solidify our JavaScript concepts we are going to build a mini project in JavaScript and move
            towards a
            major project after module 3 completion.
        </div>
        <br>

        <div> You can choose any project from the list and comment the project you are choosing to build.</div>
        <br>
        <li> Beginner: Quote Generator</li>


        <div>The web-app should be able to display and generate random quotes, whenever the user clicks the generate
            button. You can use your imagination to create the frontend.</div>
        <br>
        <li>Intermediate : Drum Kit</li>

        <div>The web-app is a drumkit that plays sound and animate the image of sound piece whenever user clicks on it.
        </div>

        <br>
        <li>Advanced: Simon Game</li>

        <div> Let’s go old-school and build the tech version of a physical toy of 90s. Click on the button below to find
            details about what you have to build.</div>

        </p>
    </div>



    <%- include('partials/footer'); -%>