<%- include('partials/header'); -%>
  <header>
    <div style="margin: 0 auto; display: flex; justify-content: center;">


      <div class="profile">
        <img src="/profile.jpg" alt="profile image">
      </div>
      <div class="headings">
        <h3>Click here to view and edit the profile</h3>
        <a href="/profile" class="btn">View and Edit Profile</a>
      </div>
    </div>
  </header>
  <%- include('partials/footer'); -%>